h1, h2, h3, h4, h5, h6 {
  color: blue;
  font-family: sans-serif;
}

th {
  font-weight: bold;
  color: green;

}

#scoreBoard {
  border: solid black;

}

th, td {
  border: solid black;
  text-align: center;
}

ul > li {
  list-style-type: square;
}

a:hover {
  background-color: pink;
  color: black;
  text-decoration: none;
}

blockquote {
  background-color: black;
  color: white;
}

#checkbox-grid > li {
  list-style-type: none;

}

#teamRoster > li:first-child {
  opacity: .06;
  background-repeat: no-repeat;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
}

#teamRoster > li:last-child {
  
  background-repeat: no-repeat;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
}

img {
  display: none;
  list-style-type: none;
}

ol > li {
  font-weight: bold;
}

thead {
  background-color: red;
}
tbody > tr:first-of-type {
  background-color: yellow;
}

tbody > tr:last-of-type {
  background-color: red;
}

tfoot {
  background-color: yellow;
}
